/univer_easy/testfiles/
__pycache__/
*.pyc
proj_venv
.env
*.env
univer_easy/files
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
*.log
local_settings.py
staticfiles/
.idea/
.vscode/
.cache
.venv