{% extends "base.html" %}

{% block title %}
    УниверEasy - О нас
{% endblock %}


{% block head %}
    Немного о нашем сайте
{% endblock %}


{% block main %}
    <br>
    <p>🎓Этот сайт представляет собой cтуденческий архив работ !
    <p>📚 Здесь студенты делятся своими рефератами, докладами, домашними заданиями и т. д.
    Каждый год темы повторяются — и теперь есть место, где можно посмотреть, как делали другие в прошлые года, и упростить себе работу!✍️
    <p>💡 Почему это удобно?
    <ul>
         <li>🆓 Всё абсолютно бесплатно
         <li>🚫 Никакой рекламы
         <li>🔑 Нет аккаунтов, паролей и регистрации
         <li>👤 Можно загрузить работу анонимно
         <li>🔍 Удобный поиск по предметам, темам и годам
         <li>🙌 Работы — для примера и вдохновения
         <li>🫆 Полную безопасность в использовании, ведь этот проект имеет <a href="">открытый исходный код!</a></li>
         <li>📚📚📚 Если вы хотите отправить много файлов, но не хотите заморачиваться и скидывать по-одному - отправьте их нам на почту!</li>
         <li>📈🚫 Также пишите на почту идеи по улучшению, баги, любые неисправности - мы все читаем!</li>
    </ul>
    <br>
    <p>✅ Просто загружаешь свою работу → она остаётся в архиве и помогает другим студентам.</p>
    <p>Сегодня ты помог — завтра помогут тебе 💜
  <!--  <li></li>
    <li></li> -->
{% endblock %}